body {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

ul li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 30px 10px;
}

.content .item-from-api {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  background-color: #efefef;
  width: 20%;
}

.content .item-from-api .item-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.content .item-from-api .item-name > span {
  font-size: 20px;
  font-weight: bold;
}

.content .item-from-api .number-of-likes {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 70%;
}

.content .item-from-api button {
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  border: 1px solid #000;
}
